# LOAD THE DATASET FROM THE GIVEN BELOW LINK.

https://drive.google.com/file/d/1RWvyhf9AcDZsSB5xVVgzsbHI1m4sFBJf/view?usp=share_link

In [169]:
import pandas as pd
import numpy as np

In [170]:
df = pd.read_csv(r"C:\Users\frase\Documents\Fraser\Eduonix\Live lectures\chipotle.tsv", delimiter = '\t', header = 0, index_col = 0, names = ['Quantity','Name', 'Description', 'Price'])
df['Price'] = df['Price'].str[1:].astype(float)
df['Count'] = 1
df['Per Item Price'] = df['Price']/df['Quantity']
df

,Quantity,Name,Description,Price,Count,Per Item Price
1,1,Chips and Fresh Tomato Salsa,NaN,2.39,1,2.39
1,1,Izze,[Clementine],3.39,1,3.39
1,1,Nantucket Nectar,[Apple],3.39,1,3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,1,2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,1,8.49
...,...,...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,1,11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,1,11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,1,11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,1,8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,1,8.75

# USING PANDAS FUNCTION CALCULATE HOW MANY PRODUCTS COSTS MORE THAN $10?

In [171]:
above_10 = df.loc[(df['Per Item Price']>=10)].count().max()

In [172]:
print('There are', above_10, 'items above $10')

There are 1034 items above $10

# What is the price of each item?

In [187]:
df3 = df.groupby(['Name','Price']).mean()
df3['Per Item Price']

Name               Price
6 Pack Soft Drink  6.49      6.49
                   12.98     6.49
Barbacoa Bowl      8.69      8.69
                   8.99      8.99
                   9.25      9.25
                            ...
Veggie Salad Bowl  11.25    11.25
Veggie Soft Tacos  8.49      8.49
                   8.75      8.75
                   11.25    11.25
                   16.98     8.49
Name: Per Item Price, Length: 209, dtype: float64

# Which is the Most Expensive Item?

In [182]:
# Most expencive by individual item prices
x = df['Per Item Price'].max()
exp = df.loc[df['Per Item Price'] == x]
exp = exp.drop(['Quantity','Count','Price'], axis = 1)
exp.groupby('Name').mean()

                     Per Item Price
Name
Barbacoa Salad Bowl           11.89
Carnitas Salad Bowl           11.89
Steak Salad Bowl              11.89

In [183]:
#Most expencive by Total order price
x = df['Price'].max()
df.loc[df['Price'] == x]

,Quantity,Name,Description,Price,Count,Per Item Price
1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,1,2.95