# Python

### 1.Write a program using list comprehension to find primes in range 2 to 100.

In [139]:
prime = [2,3,5,7] + [x for x in range(2,101) if x%2!=0 and x%3!=0 and x%5!=0 and x%7!=0]

In [141]:
prime

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

### 2.Write a function to reverse a string

string='reverse a string'

In [3]:
string=input('Enter String Here: ')

string[::-1]

Enter String Here: Hello world

'dlrow olleH'

### 3.Write a program to extract the words from the given list which have their first character in uppercase. 
Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']

Output: ['Monday', 'Sunday', 'Saturday']

In [62]:
Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']

In [63]:
Output = []
for i in range(0,5):
    if Days[i][0]==Days[i][0].upper():
        Output.append(Days[i])
Output

['Monday', 'Sunday', 'Saturday']

### 4.Write a program to extract the year part from the dates in 
the given list.

Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']

Output: ['1997','2011','1993','2020']

In [72]:
Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']

In [73]:
Output = []
for i in Batch:
    Output.append(i[-4:])
    
Output

['1997', '2011', '1993', '2020']

### 5.Write a program swap the keys to values and values to keys of the given dictionary. 

Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} 

Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}

In [74]:
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}

In [75]:
d_swap = {v:k for k,v in Module.items()}
d_swap

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'Big Data'}

### 6.Write a program to count the number of elements in the string (given by the user) that are not present in the 'my_string'. 

Do not count the white spaces.

my_string = 'Data Science'

In [24]:
my_string = 'Data Science'
user = input('Enter String here: ')

chars = 0
np = []

for i in user:
    if i==' ':
        continue
    elif i in np:
        continue
    elif i not in my_string:
        chars+=1
        np.append(i)

chars

Enter String here: hi hello bro

5

### 7.Define a function to check whether a number is in a range (1000,10000) or not.

In [12]:
n = int(input('Enter number to check: '))

def range_checker(n):
    if n in range(1000, 10001):
        print(n,"is in range 1000, 10000")
    else:
        print(n,"is not in range 1000, 10000")
        
range_checker(n)

Enter number to check: 2000
2000 is in range 1000, 10000

### 8.Write a program to calculate the sum of all elements in the list.

test_score = [10, 32, 23, 14, 25]

In [119]:
test_score = [10, 32, 23, 14, 25]

In [120]:
import numpy as np
sum(test_score)

104

### 9.Replace all even numbers in the array with -1.

Use the array given below num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

In [117]:
num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])
num_array1 = []

for i in num_array:
    if i%2==0:
        num_array1.append(i-(i+1))
    else:
        num_array1.append(i)

num_array = num_array1

print(num_array)

[-1, 21, -1, 13, -1, 45, -1, -1, -1, -1, 65, -1, -1]

### 10.Find the minimum value along each of the rows. 

Create a 2D Numpy array from list of lists 

Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

In [15]:
import numpy as np
Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

min_vals = []
for i in Score:
    min_vals.append(i.min())

print(min_vals)

[210, 106, 125, 240]

In [20]:
Score = Score.reshape(2,6)
print(Score)
print(Score.ndim)

[[210 402 383 140 375 106]
 [140 125 217 292 240 295]]
2